.heading-title {
  color: var(--primary);
  font-size: var(--font-heading);
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 15px;
}

.heading-text {
  margin-bottom: 20px;
}

.title-strong {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin-bottom: 30px;
}

.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
}
