{% extends "layout/layout_base.html.twig" %}

{% block title %}L&#039;histoire de l&#039;association - {{ parent() }}{% endblock %}

{% block meta %}
<meta property="og:title" content="L&#039;histoire de l&#039;association - 4 Pattes des Poils et Un Cœur" />
<meta property="og:description" content="Le 30 septembre 2017 marque la création de l&rsquo;association 4 Pattes des Poils et 1 Cœur. Il faut parfois un coup de pouce, un déclic pour changer des vies. Je [&hellip;]" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
{% endblock %}

{% block content %}
<div class="pabout-banner"></div>
<div class="container">
    <div class="pabout-wrapper d-flex flex-row-nowrap justify-content-between sm-flex-column mb-50">
        <div class="pabout-map">
            <div id="map"></div>
        </div>
        <div class="pabout-info page-block">
            <div class="pabout-tag">4 Pattes des Poils et 1 Coeur</div>
            <ul class="page-list d-flex flex-column gap-10">
                <li class="page-list-item"><strong>Adresse :</strong>22 Les Roches, 85510 Le Boupère</li>
                <li class="page-list-item"><strong>Téléphone :</strong><a href="tel:+33669336165">06 69 33 61 65</a></li>
                <li class="page-list-item"><p>Passionnés par les animaux, nous avons ouvert une association afin de venir en aide à ceux abandonnés.</p></li>
            </ul>
        </div>
    </div>
    <div class="pabout-body page-block">
        <h1 class="page-title">Notre histoire</h1>
        <p>Le 30 septembre 2017 marque la création de l’association 4 Pattes des Poils et 1 Cœur. Il faut parfois un coup de pouce, un déclic pour changer des vies. Je suis bénévole dans une association de protection animale et je vais vous raconter l’histoire de Sophie, notre présidente, et de Kahina qui fut l’élément félin déclencheur à la création de l’association 4 pattes des poils et 1 coeur basée en Vendée. Sophie, notre présidente, est à l’époque famille d’accueil pour une autre association vendéenne. C’est la belle Kahina qui est à l’origine de 4PPC.
<br>Voici son histoire<br>
Septembre 2017, un dimanche après-midi sous une pluie diluvienne, une voisine de Sophie arrive en courant et en hurlant avec un carton dans les bras. Un homme a  » balancé  » ce carton imbibé d’essence, stoppé à temps dans son probable projet de mettre le feu à ce carton par le chien de cette femme.
Dans ce carton se trouve une minette, future Kahina, avec une tumeur à l’oreille. Elle est prostrée et d’une maigreur importante. Sous cette minette Sophie et sa voisine découvrent 4 chatons nommés Neige, Amour, Flocon et Douceur. Les 4 chatons semblent être en pleine forme malgré des puces et des tiques.
<br>
<br>
Le lendemain, un contact avec un vétérinaire est pris pour montrer cette oreille très abîmée. Lors de ce rendez-vous l’idée de Sophie finit de germer, créer une association de protection animale. Ce vétérinaire sera le tout premier à faire confiance à Sophie et à s’engager avec elle dans cette aventure.
Aujourd’hui Kahina vit toujours chez Sophie, son oreille lui a été enlevée pour la sauver et ses petits ont été adoptés. Elle coule désormais des jours heureux en famille. Parfois c’est une situation, un élan du coeur qui finit de lancer un projet. Pas facile que d’oser seule mais Sophie l’a fait ! Depuis l’équipe s’est étoffée, l’association s’est développée, a grandi, des projets voient le jour, l’appétit de continuer cette mission noble qu’est de sauver les chats et chatons de la rue ne quitte aucun esprit. En 2021, nous avons pris en charge 730 chats et chatons. En 2017, après un an de création, nous étions à 63 prises en charge. En 4 années d’existence, ce sont 1322 chats et chatons qui sont passés entre nos mains. Parmi eux il y a eu des adoptés très nombreux, des stérilisés trop sauvages pour rejoindre des foyers mais qui ont retrouvé leur liberté et quelques-uns qui, malgré des soins, n’ont pas pu être sauvé. Être bénévole dans une association de protection animale c’est aussi faire face et accompagner nos pensionnaires vers la mort avec tendresse et respect. Nous comptons aujourd’hui 2 antennes en Vendée, l’une basée au Boupère et l’autre à Brétignolles sur Mer.
<br>
<br>
Notre plus gros projet est désormais la création d’un refuge / fourrière sur le Boupère (Vendée). Les locaux sont déjà à nous mais le travail de réhabilitation est phénoménal. Nous allons avoir besoin d’aide aussi bien humaine pour les travaux, que financière pour avoir recours à des professionnels pour ce que nous ne serons pas capable de faire seul et pour les fournitures nécessaires à nos travaux.<br>
Toutes les aides sont bonnes à prendre. Vous êtes vendéens et avez envie de nous aider ? Prenez contact avec nous ! Vous êtes de partout en France et touchés par notre démarche, nos besoins ? Prenez contact avec nous ! Même de loin, vous pouvez nous aider !!!
<br>
<br>
Kahina nous a quitté le 27 Mai 2022 en raison de nombreuses tumeurs.</p>
    </div>
</div>
{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <script>
        // Récupère les coordonnées GPS de ville
        async function getGpsData (ville) {
            const value = ville.replace(",", "%2C".replace(" ", "+"));
            const r = await fetch("https://nominatim.openstreetmap.org/?addressdetails=1&q="+ value +"&format=json&limit=1", {
                method: "GET",
                headers: {
                    "Accept" : "application/json"
                }
            })
            if(r.ok === true) {
                return r.json();
            } else {
                throw new Error('Impossible de contacter le serveur');
            }
        }


        function initMap() {
            // Initialise la carte
            var carte = L.map('map').setView([46.8072308, -0.9732717], 13);
    
            // Charge les tuiles
            L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
                subdomains: 'abcd',
                maxZoom: 20
            }).addTo(carte);
    
            // Marqueur et popup
            var marker = L.marker([46.8072308, -0.9732717]).addTo(carte);
            marker.bindPopup("<div class='pabout-map-popup'><strong>4 Pattes des Poils et 1 Coeur</strong><div>22 Les Roches<br>85510 Le Boupère</div><a href={{ path('app_home') }}><button class='btn-map'>Contacter</button></a></div>").openPopup();
        }

        window.onload = () => {
            let ville = [];

            getGpsData("22 Les Roches, 85510 Le Boupère").then(data => {
                ville.push({
                    "latitude": data[0]["lat"],
                    "longetitude":  data[0]["lon"]
                })
            })

            console.log(ville[0]);

            initMap()
        }

    </script>
{% endblock %}
