{% extends "layout/layout_base.html.twig" %}

{% block title %}Partenaires - {{ parent() }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-primary mt-50 mb-20">Nos partenaires</h1>
    {% if partners is not empty %}
        <div class="partners-list mb-50">
            {% for partner in partners %}
            <div class="card-partner" style="background-image: url('{{ partner.picture ? partner.picture : asset(imageBasic) }}')">
                <div class="card-partner-body">
                    <h3>{{ partner.name }}</h3>
                    <p class="text-small">{{ (partner.description|length > 146) ? partner.description|slice(0, 146)~'...' : partner.description|default('Pas de description pour le môment !')}}</p>
                    <a href="#" class="partner-link" target="_blank" rel="noopener noreferrer">Découvrir</a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>Pas de partenaires pour le môment</h3>
    {% endif %}
    
</div>
{% endblock %}