{% extends "layout/layout_base.html.twig" %}

{% block title %}Politique de Cookies - {{ parent() }}{% endblock %}

{% block content %}
<div class="w-header container">
    <h1 class="text-primary mt-50">Politique de cookies</h1>
</div>
<div class="container">
   <p>Politique de cookie</p>
</div>
{% endblock %}