@use "../../tools/media_queries" as *;

.menu {
  font-weight: var(--font-weight-regular);
  background-color: var(--white);
  box-shadow: 0px 10px 10px rgb(28 39 60 / 3%);
}
.navbar-bottom {
  @include sm {
    display: none;
  }
  @include md {
    display: none;
  }
  &.menu-open {
    display: block;
  }
}

.navbar-top {
  padding: 10px 0;
  border-bottom: 1px solid #e3e7ed;

  .navbar-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-search {
    display: flex;
    align-items: center;
    width: calc(100% - 50%);
    padding: 0.75rem;
    border: 1px solid #e3e7ed;
    @include sm {
      display: none;
    }
    input {
      border: 0;
      outline: 0;
      background-color: var(--white);
      width: 100%;
    }
  }
}

.navbar-logo img {
  max-width: 100%;
  width: auto;
  height: 40px;
  vertical-align: middle;
}

.icon-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: auto;
  background: #f1f5f9;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 5px;
  }
  > span {
    font-size: 0;
    text-indent: -3000px;
  }
  img {
    width: 100%;
    object-fit: contain;
    vertical-align: middle;
  }
  @include lg {
    &.menu-burger {
      display: none;
    }
  }
}

.nav-list-navigation {
  width: 100%;
  display: flex;
  @include sm {
    flex-direction: column;
  }
  @include md {
    flex-direction: column;
  }

  .nav-item {
    padding: 20px 15px;
    font-weight: var(--font-weight-medium);
    color: var(--blue-dark);
    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
