.icon {
  font-size: 0;
  text-indent: -3000px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  &.icon-show {
    background-image: url("../../images/icon/view.svg");
  }
  &.icon-edit {
    background-image: url("../../images/icon/edit-2.svg");
  }
  &.icon-delete {
    background-image: url("../../images/icon/draft.svg");
  }
}
