// Pagination
// =========================================
.pagination,
.pagination-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  @include sm {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.pagination-link,
.pagination-next,
.pagination-previous,
.pagination-item .pagination-ellipsis {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 2.5em;
  min-width: calc(2rem + 0px);
  padding: 0.625rem 0.5125rem;
  margin: 0.25rem;
  font-size: 0.75rem;
  line-height: 1;
  white-space: nowrap;
  border-radius: var(--border-radius);
  background-color: #e1e4e8;
}

.pagination-next:hover,
.pagination-previous:hover,
.pagination-link:hover {
  background-color: #cacccf;
}

.pagination-previous {
  order: 2;
}
.pagination-next {
  order: 3;
}

.pagination-link.is-current {
  color: var(--text-white);
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: 0 0.125rem 0.25rem rgb(234 54 89 / 40%);
}

.pagination-next,
.pagination-previous,
.pagination-item .pagination-ellipsis,
li.pagination-item {
  @include sm {
    flex: 1 1 0%;
  }
}

.pagination a[disabled] {
  background-color: #dbdbdb;
  opacity: 0.5;
  pointer-events: none;
}
