.table-responsive {
  width: 100%;
  @include sm {
    overflow-x: auto;
    .table {
      border-collapse: collapse;
    }
    .table thead {
      display: none;
    }
    .table tbody {
      position: relative;
      display: block;
    }
    .table,
    .table body,
    .table tr,
    .table td {
      display: block;
      width: 100%;
    }

    .table tr {
      margin-bottom: 1rem;
      border: 1px solid #dee8f0;
      box-shadow: 0px 4px 4px rgba(228, 237, 244, 0.8);
      &:nth-child(even) td:nth-child(even) {
        background-color: #e0e3ed;
      }
    }

    .table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 1rem;
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-medium);
      text-align: left;
    }

    .table tbody tr td {
      text-align: right;
      padding-left: 50%;
      &:nth-child(even) {
        background-color: #f8f8f9;
      }
    }
    .table-option {
      display: flex !important;
      align-items: center;
      justify-content: end;
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  thead {
    border-bottom: 1px solid #e3e7ed;
  }

  th {
    color: #9da2aa;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    padding: 0.687rem 0.937rem;
    text-transform: uppercase;
    letter-spacing: 0.031rem;
  }

  td {
    padding: 0.687rem 0.937rem;
    img {
      width: 70px;
      height: 45px;
      border-radius: 5px;
    }
  }

  tbody {
    font-size: var(--font-size-small);

    tr:nth-child(even) {
      background-color: #f4f6fb;
    }
  }
}

.status {
  display: inline-block;
  white-space: nowrap;
  border-radius: var(--border-radius);
  color: var(--text-dark);
  padding: 0.187rem 0.4rem;
  text-align: center;

  &.brouillon {
    background-color: #dde4ee;
  }
  &.published {
    background-color: #b1f5d9;
  }
  &.danger {
    color: var(--text-white);
    background-color: var(--primary);
  }

  &.person {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.756rem;
    padding: 0.3568rem 0.756rem;
    background-color: #cacccf;
    .person-avatar {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}
.person-danger {
  background-color: var(--danger) !important;
  color: var(--white);
  white-space: initial;
}

.table-actions {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  .table-search {
    gap: 8px;
    min-width: 328px;
    background: #fbfbfb;
    border: 1px solid #dde4ee;
    box-shadow: 0px 1px 4px rgba(213, 222, 233, 0.2);
    border-radius: var(--border-radius);
    padding: 0.8rem 1.2rem;
    input {
      flex: 1;
      background-color: transparent;
      outline: none;
      border: none;
      color: #9da2aa;
    }
  }
}

.table-query {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-height: 45px;
  font-size: var(--font-size-small);
  background-color: #f7f6f9;
  border-radius: var(--border-radius);
  box-shadow: 0px 1px 4px rgba(213, 222, 233, 0.2);
  padding: 0.8rem 1.2rem;
  .table-query-link.active {
    border-radius: var(--border-radius);
    font-weight: var(--font-weight-medium);
    background-color: var(--white);
    box-shadow: 0px 2px 4px #d5dee9;
    padding: calc(0.8rem - 8px) calc(1.2rem - 8px);
  }
}

.table-status {
  font-size: 0.85rem;
  opacity: 0.8;
}

// .table.cat {
//   text-align: right;
// }

.table-option {
  .btn-actions {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: var(--white);
    border: 1px solid #ccd4e0;
    border-radius: 12px;
    font-size: var(--font-size-regular);
    box-shadow: 0px 1px 4px rgba(213, 222, 233, 0.2);
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      background-color: #f0f0f0;
    }
    &:not(:first-child) {
      margin-left: 0.67rem;
    }
    &.tooltip::before {
      width: auto;
      padding: 0.313rem 0.568rem;
    }
  }
}
