@use "../tools/media_queries" as *;
@import "../admin.scss";

a:hover,
a:focus {
  text-decoration: underline;
}

.container-auth {
  max-width: 1090px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.page-title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary);
}

.page-desc {
  font-weight: 400;
  font-size: 1rem;
  color: #404040;
}

.form-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 20rem;
  width: 100%;
  position: relative;
  gap: 0.5rem;
}

.form-auth .input-element:not(.btn) {
  width: 100%;
  display: block;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid #f9fbfc;
  background: #f9fbfc;
  border-radius: 0.5rem;
  transition: all 0.25s ease 0s;
  color: #212325;
  box-shadow: 1px 2px 4px 0px #0b163c40;
}

.form-auth .input-element:focus:not(.btn) {
  border-color: var(--primary);
  box-shadow: 1px 2px 4px 0px #0b163c40, 0 0 0 3px var(--primary);
}

.btn {
  width: 100%;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
  border: 1px solid var(--primary);
  background: var(--primary);
  border-radius: 0.5rem;
  transition: all 0.25s ease 0s;
  color: #e9eff2;
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px #3461fd40;
}

.btn:hover,
.btn:focus {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: 0px 3px 5px 0px #ff728e, 0 0 0 3px #ff728e;
}

.forgot-link {
  font-size: 0.85rem;
  width: 100%;
  text-align: end;
}

.form-auth-link-holder {
  font-size: 0.8rem;
  color: #404040;
}

.error-noti {
  background: #dc3535;
  padding: 1rem;
  max-width: 20rem;
  width: 100%;
  border-radius: 0.5rem;
  color: #e9eff2;
  box-shadow: 0px 3px 5px 0px #3461fd40;
}

.error-input {
  border-color: #dc3535 !important;
}

.error-input:focus {
  box-shadow: 1px 2px 4px 0px #0b163c40, 0 0 0 3px #dc353580 !important;
}

.form-row {
  width: 100%;
}
