@use "../tools/media_queries" as *;

//// Hero
//// ==================
// .homepage {
//   background-color: gray;
// }

#hero {
  background: linear-gradient(0deg, rgba(68, 5, 26, 0.58), rgba(68, 5, 26, 0.58)),
    url(../../images/cat.png) no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-block: 150px;
  color: var(--text-white);
  @include sm {
    padding-block: 100px;
  }
}

.hero-content {
  max-width: 580px;
}

.hero-title {
  position: relative;
  font-size: var(--font-size-large);
  line-height: 1.2;

  @include sm {
    margin-bottom: 8px;
  }
  strong {
    display: inline-block;
    position: relative;
    color: var(--primary);

    img {
      position: absolute;
      width: calc(100% - 10%);
      top: calc(100% - 5px);
      left: 0;
    }
  }
}

.hero-text {
  font-size: var(--font-size-medium);
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-block-start: 20px;
  font-size: var(--font-size-small);

  // @include xs {
  //   display: block;

  //   .btn {
  //     margin-top: 5px;
  //   }
  // }
}

//// Figures étapes
//// ==================
.figures {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 42px 45px;
  margin-top: -5%;
  margin-bottom: 100px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  @include sm {
    margin-top: -17%;
    padding: 35px 30px;
  }
}

.figures-body {
  width: calc((100% / 3) - 30px);

  @include sm {
    width: 100%;
  }
}

.cat {
  display: none;
  position: absolute;
  width: 434px;
  right: 0;
  // bottom: calc(100% / 1.82);
  bottom: calc(100% / 1.74);

  @include lg {
    display: initial;
    &-1 {
      right: 23%;
    }
    &-2 {
      bottom: calc(100% / 1.4);
    }
  }
}
