@use "../tools/media_queries" as *;

.passport {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 3.1rem;
}
// .passport-picture {
//   max-width: 250px;
//   width: 100%;
//   padding: 0.8rem;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//   strong {
//     display: block;
//     text-align: center;
//     font-size: 0.869rem;
//   }
// }

.banner-thumbnail {
  position: relative;
  max-width: 250px;
  width: 100%;
  background: #fafbff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0.456rem;
    top: 0.456rem;
    bottom: 0;
    background: #fdf0e0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.11);
    transform: rotate(-2.33deg);
    z-index: -1;
  }
}
.banner-picture {
  background-color: var(--white);
  padding: 0.8rem;
  border: 1px solid var(--dark);
  box-shadow: 3px 6px 3px rgba(1, 1, 1, 0.19);
  transform: rotate(3.06deg);

  strong {
    display: block;
    font-size: 0.869rem;
    text-align: center;
    margin-top: 0.4rem;
  }
}
.banner-adhesif {
  display: block;
  position: absolute;
  width: 100px;
  height: 60px;
  background: url("../../images/adhesif.svg") no-repeat;
  background-size: contain;
  opacity: 0.7;
  transform: rotate(-30deg);
  &.adhesif-1 {
    top: 0;
    left: -5%;
  }
  &.adhesif-2 {
    bottom: -15%;
    right: -13%;
  }
}
.banner-tampon {
  display: block;
  position: absolute;
  bottom: calc(0% + 10%);
  left: 0;
  width: 20%;
  height: auto;
}

.passport-content {
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.156rem;

    li {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      color: #575c76;
      span {
        margin-left: 0.8rem;
        color: var(--primary);
        font-size: 0.965rem;
      }
    }
  }
}
.passport-title {
  color: var(--blue-dark);
  font-size: 0.9rem;
  font-weight: var(--font-weight-medium);
  border-bottom: 1px solid #eceff1;
  padding-block: 0.5rem;
  margin-bottom: 1rem;
}
.passport-text {
  font-size: 0.85rem;
  color: var(--blue-dark);
  line-height: 1.8;
}

.compatibility {
  display: flex;
  flex-flow: row wrap;
  gap: 1.3rem;
  .compatibility-item {
    width: 40px;
    height: auto;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    figcaption {
      font-size: 0.7rem;
      font-weight: var(--font-weight-bold);
      margin-top: 0.313rem;
    }
  }
}
